@model IEnumerable<Student>
@{
    ViewData["Title"] = "Student's Page";
}


<wrap style="display: flex; text-align: center; justify-content: space-between;">
    <div>
        <h1>Список студентов</h1>
    </div>
    <div><a asp-controller="Home" asp-action="Create" >добавить студента
        <i class="bi bi-plus-lg"></i></a></div>
</wrap>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
             <th>
                Номер
            </th>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Отчество
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Курс
            </th>
            <th>
                Национальность
            </th>
            <th>
                Телефон
            </th>
            <th>
                Город
            </th>
            <th>
                Адрес
            </th>
            <th>
                Редактировать
            </th>
            <th>
                Удалить
            </th>
    <tbody>
                @foreach (var obj in Model)
                {
            <tr>
                <td width=15%>@obj.Id</td>
                <td width=15%>@obj.Name</td>
                <td width=15%>@obj.LastName</td>
                <td width=10%>@obj.Patronymic</td>
                <td width=10%>@obj.Birthaday.ToShortDateString()</td>
                <td width=10%>@obj.Course</td>
                <td width=10%>@obj.Nationality</td>
                <td width=10%>@obj.Contact</td>
                <td width=10%>@obj.City</td>
                <td width=10%>@obj.Addres</td>
               <div><td width=10%> <a asp-controller="Home" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil"></i></a> </td></div> 
                <td width=10%> <a asp-controller="Home" asp-action="Delete" asp-route-id="@obj.Id" ><i class="bi bi-trash"></i></a> </td>

            </tr>
                }
    </tbody>

    </tr>
    </thead>
</table>